.navbar-nav .nav-link {
    color: #ff6600 ;
}

.dropdown-item {
    color: #ff6600 ;

}


.navbar-nav .nav-link:hover,
.dropdown-item:hover {
    color: white ;
    background-color: transparent;
}

.navbar {
    border-bottom: 3px solid #ff6600;
}
